:root {
    /* body styles */
    --bg-body: #080808;
    --body-clr: #fff;


    /* container */
    --container: 10px 10%;


    --nav-hover-underline: #ff004f;
    --gradient-clr: linear-gradient(red,blue);

    /* about section */
    --about-clr: #ababab;
    --about-underline: #b54769;

    /* services section */
    --services-bg: #262626;
    --services-fz: 15px;

    /* title element sytles */
    --title-fz: 60px;
    --title-fw: 600;
    --title-clr: #fff;

    /* display flex */
    --flex: flex;


    /* display grid */
    --grid: grid;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
 
.container {
    padding: var(--container);
}

body {
    background-color: var(--bg-body);
    color: var(--body-clr);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    cursor: default;
}
.logo span {
    color: var(--nav-hover-underline);
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a {
    color: var(--body-clr);
    font-size: 1.25rem;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: var(--nav-hover-underline);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: #ff004f;
}


#about {
    padding: 80px 0;
    color: var(--about-clr);
}
.row {
    display: var(--flex);
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}
.title {
    font-size: var(--title-fz);
    font-weight: var(--title-fw);
    color: var(--title-clr);
}
.tab-titles {
    display: var(--flex);
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0%;
    height: 3px;
    background: var(--nav-hover-underline);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li {
    margin: 10px 0;
}
.tab-contents ul li span {
    color: var(--about-underline);
    font-size: 15px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
} 

#services {
    padding: 30px 0;
}
.services-list {
    display: var(--grid);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div {
    background: var(--services-bg);
    font-size: var(--services-fz);
    padding: 40px;
    font-weight: 300;
    border-radius: 10px;
    transition: backround 0.5s, transform 0.5s;
}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div:hover {
    background: var(--nav-hover-underline);
    transform: translateY(-10px);
}